@using Capstone.Web.Models
@model ParksModel


@{
    ViewBag.Title = "ParkDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pageTitle">Park Details</h2>
<h3>@Model.ParkName </h3>
<h4>@Model.State</h4>

    <div class="listContainer">

        <div class="listText">
            <p> Acreage: @Model.Acreage</p>
            <p> Elevation (in feet): @Model.ElevationInFeet</p>
            <p> Miles of Trail: @Model.MilesOfTrail</p>
            <p> Number of Campsites: @Model.NumberOfCampsites</p>
            <p> Climate: @Model.Climate</p>
            <p> Year Founded: @Model.YearFounded</p>
            <p> Annual Visitors: @Model.AnnualVisitorCount</p>
            <p>Entry Fee: $@Model.EntryFee.00</p>
            <p>Number of Animal Species: @Model.NumberOfAnimalSpecies</p>
        </div>
        <div class="parkDetailContainer">
            <div class="listContainer">
                <div class="parkDetailImage">
                    <img src="~/Content/img/parks/@(Model.ParkCode).jpg" />
                </div>
                <div class="quote">
                    <p>
                        <span style="font-family:'French Script MT'; font-size:24px"><em>"@Model.InspirationalQuote"</em></span>
                        <br /> <em> -@Model.InspirationalQuoteSource </em>
                    </p>
                </div>
            </div>
            <div class="parkDescription">
                <p>@Model.ParkDescription</p>
            </div>
        </div>
    </div>


    <button>@Html.ActionLink("Get forecast in Farenheit", "GetWeatherF", "WeatherForecast", new { id = (@Model.ParkCode) }, null)</button>
    <button>@Html.ActionLink("Get forecast in Celsius", "GetWeatherC", "WeatherForecast", new { id = (@Model.ParkCode) }, null)</button>
