@using Capstone.Web.Models
@model List<WeatherForecastModel>

@{
    ViewBag.Title = "WeatherForecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pageTitle">Five Day Forecast </h2>
<section>
    <div class="weatherContainer">
        @foreach (WeatherForecastModel w in Model)
        {
            <div class="weatherInfo">
                <div id="weatherPicture"><img src="~/Content/img/weather/@(w.Forecast).png" /></div>
                <div id="weatherDetails">
                    <p>High: @w.High F</p>
                    <hr />
                    <p>Low: @w.Low F</p>
                    <hr/>
                    <p>@w.GetWeatherStatement(w.Forecast, w.Low, w.High)</p>
                </div>
                <p></p>
            </div>
        }
    </div>
  @*  <button>@Html.ActionLink("Get forecast in Celsius", "GetWeatherC", "WeatherForecast", new { id = (@w.ParkCode) }, null)</button>*@
</section>