@using Capstone.Web.Models;
@model SurveyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Survey</h2>
<body>
    @using (Html.BeginForm("GetSurvey", "Survey", FormMethod.Post))
    {
        <div class="surveyContainer">
            <div id="surveyInnerBox">
                @Html.Label("ParkCode", "What is your favorite park? ") <br />
                @Html.DropDownListFor(m => m.ParkCode, Model.Parks)
            </div> 
            <div id="surveyInnerBox">
                @Html.Label("EmailAddress", "Enter your email address: ") <br />
                @Html.TextBoxFor(m => m.EmailAddress)
            </div> 
            <div id="surveyInnerBox">
                @Html.Label("State", "In which state do you live? ") <br />
                @Html.DropDownListFor(m => m.State, SurveyModel.States)
            </div> 
            <div id="surveyInnerBox">
                @Html.Label("ActivityLevel", "How active are you? ") <br />
                @Html.DropDownListFor(m => m.ActivityLevel, SurveyModel.ActivityLevels)
            </div>
        </div>
        <button>Submit</button>
    }
</body>

