@using Capstone.Web.Models;
@model SurveyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Survey</h2>
<body>
    @using (Html.BeginForm("GetSurvey", "Survey", FormMethod.Post))
    {
        <div>
            @Html.Label("ParkCode", "What is your favorite park?")
            @Html.DropDownListFor(m => m.ParkCode, SurveyModel.Parks)
        </div>
        <div>
            @Html.Label("EmailAddress", "Enter your email address.")
            @Html.TextBoxFor(m => m.EmailAddress)
        </div>
        <div>
            @Html.Label("State", "In which state do you live?")
            @Html.DropDownListFor(m => m.State, SurveyModel.States)
        </div>
        <div>
            @Html.Label("ActivityLevel", "How active are you?")
            @Html.DropDownListFor(m => m.ActivityLevel, SurveyModel.ActivityLevels)
        </div>
        <button>Submit</button>
    }
</body>

